.category-dashboard-section {
    display: block;
    padding: 30px;

    .category-dashboard-body {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        // background: #fff;

        .table-header {
            background: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search-bar {
                input {
                    padding: 8px 12px;
                    font-size: 16px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    background: #f1f1f1;
                    border: 2px solid #f1f1f1;
                    font-family: "Montserrat", sans-serif;
                    width: 220px;
                    transition: all 0.3s ease;

                    &:focus, &:hover {
                        background: #e0e0e0;
                        border: 2px solid #e0e0e0;
                    }
                }
            }

            .table-actions {
                display: flex;
                gap: 10px;

                button {
                    padding: 8px 12px;
                    font-size: 16px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s ease;
                }

                .filter-btn {
                    background: #f0f4ff;
                    color: #1d4ed8;
                }

                .export-btn {
                    background: #fff5e4;
                    color: #470531;
                    border: 2px solid #fff5e4;

                    &:hover {
                        background: white;
                        color: #470531;
                        border: 2px solid #470531;
                    }
                }

                .add-btn {
                    background: #470531;
                    color: #fff;
                    border: 2px solid #470531;

                    &:hover {
                        background: white;
                        color: #470531;
                        border: 2px solid #470531;
                    }
                }
            }

            .product_filters {
                display: flex;
                gap: 50px;

                .sort-show {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .sort-select-div {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        width: 100px;
                        border-radius: 5px;
                        background: #eaeaea;
                        border: 2px solid #eaeaea;

                        svg {
                            margin-right: 10px;
                            font-size: 25px;
                        }
                    }

                    .sort-select-div:hover {
                        background: #d5d5d5;
                        border: 2px solid #d5d5d5;
                        box-shadow: none;
                    }
                }

                select {
                    border: none;
                    background: transparent;
                    font-size: 16px;
                    color: black;
                    padding: 8px;
                    cursor: pointer;
                    outline: none;
                    appearance: none; 
                    -moz-appearance: none; 
                    -webkit-appearance: none;
                    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    width: 100px;
                    font-family: "Montserrat", sans-serif;
                }
            }
        }

        .category-table {
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            width: 100%;
            border-collapse: collapse;
            overflow: hidden;
            background: #fff;

            thead {
                background: #eaeaea;

                th {
                    text-align: left;
                    padding: 30px 20px;
                    font-size: 16px;
                    color: #470531;
                    text-transform: uppercase;
                }
            }

            tbody {
                tr {
                    border-bottom: 1px solid #e5e7eb;

                    td {
                        padding: 20px;
                        font-size: 16px;
                        color: #374151;
                        text-align: left;
                        // vertical-align: middle;
                    }

                    .category-img {
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 6px;
                    }

                    .action-div {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                        gap: 10px;
                        width: 100%;
                        height: 100%;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;
                        border-radius: 5px;
                        border: none;
                        color: white;
                        font-size: 16px;
                        cursor: pointer;
                        width: 25px;
                        height: 25px;
                        margin: 0;
                        transition: .5s all;

                       &.view-btn {
                            background: #3b82f6;
                            border: 1.5px solid #3b82f6;

                            &:hover {
                                background: transparent;
                                color: #3b82f6;
                            }
                        }

                        &.edit-btn {
                            background: #22c55e;
                            border: 1.5px solid #22c55e;

                            &:hover {
                                background: transparent;
                                color: #22c55e;
                            }
                        }

                        &.delete-btn {
                            background: #ef4444;
                            border: 1.5px solid #ef4444;

                            &:hover {
                                background: transparent;
                                color: #ef4444;
                            }
                        }

                    }
                }

                tr:last-child {
                    border-bottom: none;
                }
            }
        }

        .table-footer {
            display: flex;
            align-items: center;
            gap: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background: white;
            padding: 10px 20px 10px;
            // border: 1px solid #ddd;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 10px;

            .footer-pagination {
                display: flex;
                gap: 10px;

                .page-number {
                    cursor: pointer;
                    // padding: 5px 10px;
                    border-radius: 3px;
                    height: 30px;
                    width: 30px;
                }
                
                .page-number.active {
                    background-color: #470531;
                    color: white;
                }

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: 4px 10px;
                    height: 30px;
                    width: 30px;
                    background: #eaeaea;
                    transition: .3s;
                    cursor: pointer;
                    border-radius: 3px;
                    margin-top: 10px;
                }

                span:hover {
                    background: #d5d5d5;
                    transition: .3s;
                }
                
                span.disabled {
                    opacity: 0.5;
                    pointer-events: none;
                    
                }

                span:disabled {
                    cursor: not-allowed;
                }
            }

            .sort-show {
                display: flex;
                align-items: center;
                gap: 10px;

                .sort-select-div {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    width: 100px;
                    border-radius: 5px;
                    background: #eaeaea;

                    svg {
                        margin-right: 10px;
                        font-size: 25px;
                    }
                }

                .sort-select-div:hover {
                    background: #d5d5d5;
                    box-shadow: none;
                }

                select {
                    border: none;
                    background: transparent;
                    font-size: 16px;
                    color: black;
                    padding: 8px;
                    cursor: pointer;
                    outline: none;
                    appearance: none; 
                    -moz-appearance: none; 
                    -webkit-appearance: none;
                    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    width: 100px;
                    font-family: "Montserrat", sans-serif;
                }
            }
        }
    }

    .category-dashboard-body-empty {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        padding: 20px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.category-form-section {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 700px;
    background: #fff;
    z-index: 1001;
    overflow-y: auto;

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #e2e2e5;
        color: #686868;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;

        .icon {
            font-size: 30px;
            font-weight: 600;
            transition: .3s;
        }

        &:hover {
            background: #f3f3f3;
            color: black;
            transition: .3s;
        }
    }

    .category-content {
        display: flex;
        flex-direction: column;
        justify-items: space-between;
        height: 100%;
        gap: 30px;
        padding: 50px;

        .category-head {
            font-size: 30px;
        }

        .category-details {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .image-div {
                margin-top: 30px;
                width: 200px;
                height: 200px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .img-close-btn {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    color: #1d4ed8;
                    font-size: 50px;
                }
            }

            .file-info {
                font-size: 14px;
                margin-top: -10px;
                margin-bottom: -10px;
            }

            .category-name {
                font-size: 25px;
            }

            .category-description {
                // padding-right: 50px;
            }
        }

        .category-form {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .image-div {
                width: 200px;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .form-field {
                width: 100%;
                // border: 2px solid #470531;
                border-radius: 10px;

                .MuiOutlinedInput-root {
                    color: #470531;
                    font-family: "Montserrat", sans-serif;
                    border-radius: 10px;
                    transition: all 0.3s ease;

                    fieldset {
                        border-color: #470531;
                        border-width: 1.5px;
                        transition: 0.3s;
                    }

                    &:hover fieldset {
                        border-color: #470531;
                        border-width: 2px;
                    }

                    &.Mui-focused fieldset {
                        border-color: #470531;
                        border-width: 2px;
                    }
                }

                .MuiInputLabel-root {
                    color: #470531;
                    font-family: "Montserrat", sans-serif;
                }

                .MuiInputLabel-root.Mui-focused {
                    color: #470531;
                }

                .MuiInputBase-input,
                .MuiSelect-select {
                    color: #470531;
                    font-family: "Montserrat", sans-serif;
                    text-align: left;
                }

                .start-adornment {
                    font-family: "Montserrat", sans-serif;
                    color: #470531;
                    font-weight: 500;
                }
            }
        }

        .action-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 20px;
            padding-bottom: 50px;

            .btn {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 10px;
                padding: 8px 12px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: all 0.2s ease;
            }

            .btn.edit-btn {
                background: #22c55e;
                color: white;
                border: 2px solid #22c55e;

                &:hover {
                    background: transparent;
                    color: #22c55e;
                    
                }
            }

            .btn.delete-btn {
                background: #ef4444;
                color: #fff;
                border: 2px solid #ef4444;

                &:hover {
                    background: transparent;
                    color: #ef4444;
                }
            }
        }
    }
}