.how-it-works {
    text-align: center;
    background: linear-gradient(135deg, #fff8f0, #fff);

    .section-heading {
        position: relative;
        font-size: 40px;
        font-weight: 700;
        color: #FE931D;
        margin-bottom: 10px;

        &::after {
        content: "";
            display: block;
            width: 80px;
            height: 4px;
            background: #FE931D;
            margin: 10px auto 0 auto;
            border-radius: 2px;
        }
    }

    .section-description {
        font-size: 18px;
        color: #555;
        margin-bottom: 60px;
    }

    .steps-container {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 100px;
        position: relative;

        &::before {
        content: '';
            position: absolute;
            top: 50%;
            left: 15%;
            right: 15%;
            height: 4px;
            background: #FE931D33; // subtle line color
            z-index: 0;
            transform: translateY(-50%);
            border-radius: 2px;
            margin-top: -20px;
        }

        .steps-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 10px;

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: -60px; // half of the gap
              width: 20px;
              height: 20px;
              background: #FE931D; // orange circle
              border-radius: 50%;
              transform: translateY(-50%);
              z-index: 2;
              margin-top: -20px;

              display: flex;
              align-items: center;
              justify-content: center;
            }

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              right: -50px; // same as circle
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 8px solid #fff; // white arrow
              transform: translate(5px, -50%); // center inside circle
              z-index: 3;
              margin-top: -20px;
            }

            &:last-child::after {
              display: none; // remove dot after last step
            }

            .content-div {
                background: #F2E8E2;
                display: flex ;
                align-items: center;
                justify-content: center;
                height: 450px;
                width: 230px;
                margin-bottom: 20px;
                border-radius: 10px;

                .icon-div {
                    display: flex ;
                    align-items: center;
                    justify-content: center;
                    height: 150px;
                    width: 150px;
                    background: #FE931D;
                    border-radius: 50%;
                    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                    .icon {
                        font-size: 80px;
                        color: white;
                    }
                }

                .slide {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;

                    .slide-top {
                        h4 {
                            font-size: 16px;
                            color: #FE931D;
                            margin-bottom: 10px;
                            text-transform: uppercase;
                        }

                        p {
                            font-size: 12px;
                            color: #444;
                            padding: 0 20px;
                        }
                    }
                    
                    .icon-div-small {
                        display: flex ;
                        align-items: center;
                        justify-content: center;
                        height: 80px;
                        width: 80px;
                        background: #FE931D;
                        border-radius: 50%;
                        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

                        .icon {
                            font-size: 40px;
                            color: white;
                        }
                    }

                    .slide-bottom {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        font-size: 12px;
                        color: #777;

                        .order-no {
                            font-weight: 600;
                        }

                        .date {
                            font-style: italic;
                        }
                    }
                }
            }

            .img-div {
                // background: #FAF5F1;
                display: flex ;
                align-items: center;
                justify-content: center;
                height: 640px;
                width: 290px;
                // color: #FE931D;
                margin-bottom: 20px;
                // border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    border-radius: 15px;
                    border: 3px solid rgba(1, 113, 63, 0.1);
                }
            }

            .details {
                h3 {
                    font-size: 24px;
                    color: #FE931D;
                    margin-bottom: 10px;
                }

                p {
                    font-size: 14px;
                    color: #444;
                    max-width: 250px;
                    margin: 0 auto;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
  .how-it-works {
    .steps-container {
      gap: 50px;

      &::before {
        left: 10%;
        right: 10%;
      }

      .steps-card {
        &::after {
          right: -35px;
        }
  
        &::before {
          right: -25px;
        }
        .content-div {
          height: 300px;
          width: 150px;

          .icon-div {
            height: 100px;
            width: 100px;
            background: #FE931D;
            border-radius: 50%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            .icon {
                font-size: 50px;
                color: white;
            }
        }
        }
  
        .img-div {
          height: 500px;
          width: 225px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .how-it-works {
    .steps-container {
      gap: 30px;

      &::before {
        top: 55%;
        left: 20%;
        right: 20%;
      }

      .steps-card {
        // gap: 10px;

        &::after {
          display: none;
        }
  
        &::before {
          display: none;
        }

        .details {
          h3 {
            font-size: 14px;
          }
          p {
            display: none;
          }
        }

        .content-div {
          height: 200px;
          width: 100px;

          .icon-div {
            height: 60px;
            width: 60px;
            background: #FE931D;
            border-radius: 50%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            .icon {
                font-size: 30px;
                color: white;
            }
          }

          .slide {
            gap: 10px;
            .slide-top {
                h4 {
                    font-size: 10px;
                    margin-bottom: 0px;
                }

                p {
                    font-size: 7px;
                }
            }
            
            .icon-div-small {
                height: 50px;
                width: 50px;

                .icon {
                    font-size: 20px;
                    color: white;
                }
            }

            .slide-bottom {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 10px;
                color: #777;

                .order-no {
                    font-weight: 600;
                }

                .date {
                    font-style: italic;
                }
            }
        }
        }
  
        .img-div {
          height: 400px;
          width: 185px;
        }
      }
    }
  }
}

// @media (max-width: 900px) {
//   .how-it-works {
//     .steps-container {
//       flex-direction: column;
//       gap: 60px;

//       &::before {
//         top: auto;
//         left: 50%;
//         width: 4px;
//         height: 85%;
//         transform: translateX(-50%);
//         margin-top: 0;
//       }
//     }

//     .steps-card {
//       &::after {
//         top: auto;
//         left: 50%;
//         right: auto;
//         bottom: -50px;
//         transform: translateX(-50%);
//         display: none;
//       }

//       &::after::before {
//         // arrow inside the circle, pointing down now
//         border-left: 6px solid transparent;
//         border-right: 6px solid transparent;
//         border-top: 10px solid #fff;
//         border-bottom: none;
//         transform: translate(-50%, -30%);
//         display: none;
//       }

//       &:last-child::after {
//         display: none;
//       }
//     }
//   }
// }

@media (max-width: 480px) {
  .how-it-works {
    .section-heading {
      font-size: 28px;
    }

    .section-description {
      font-size: 14px;
      margin-bottom: 40px;
    }

    .steps-container {
      gap: 20px;

      &::before {
        top: 55%;
        left: 20%;
        right: 20%;
      }

      .steps-card {
        gap: 0px;

        &::after {
          display: none;
        }
  
        &::before {
          display: none;
        }

        .details {
          h3 {
            font-size: 10px;
          }
          p {
            display: none;
          }
        }

        .content-div {
          height: 180px;
          width: 90px;

          .icon-div {
            height: 60px;
            width: 60px;
            background: #FE931D;
            border-radius: 50%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            .icon {
                font-size: 30px;
                color: white;
            }
          }

          .slide {
            gap: 10px;

            .slide-top {
                display: flex;
                flex-direction: column;
                gap: 2px;
                h4 {
                    font-size: 8px;
                }

                p {
                    font-size: 5px;
                }
            }
            
            .icon-div-small {
                height: 50px;
                width: 50px;

                .icon {
                    font-size: 20px;
                    color: white;
                }
            }

            .slide-bottom {
                display: flex;
                flex-direction: column;
                gap: 5px;
                font-size: 7px;
                color: #777;

                .order-no {
                    font-weight: 600;
                }

                .date {
                    font-style: italic;
                }
            }
        }
        }
  
        .img-div {
          height: 300px;
          width: 140px;
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .how-it-works {
    .section-heading {
      font-size: 28px;
    }

    .section-description {
      font-size: 14px;
      margin-bottom: 40px;
    }

    .steps-container {
      gap: 15px;

      &::before {
        top: 55%;
        left: 20%;
        right: 20%;
      }

      .steps-card {
        gap: 0px;

        &::after {
          display: none;
        }
  
        &::before {
          display: none;
        }

        .details {
          h3 {
            font-size: 10px;
          }
          p {
            display: none;
          }
        }

        .content-div {
          height: 160px;
          width: 80px;

          .icon-div {
            height: 50px;
            width: 50px;

            .icon {
                font-size: 25px;
            }
          }

          .slide {
            gap: 10px;

            .slide-top {
                h4 {
                    font-size: 7px;
                }

                p {
                    font-size: 4px;
                }
            }
            
            .icon-div-small {
                height: 40px;
                width: 40px;

                .icon {
                    font-size: 20px;
                    color: white;
                }
            }

            .slide-bottom {
                display: flex;
                flex-direction: column;
                gap: 2px;
                font-size: 6px;
                color: #777;

                .order-no {
                    font-weight: 600;
                }

                .date {
                    font-style: italic;
                }
            }
        }
        }
  
        .img-div {
          height: 250px;
          width: 110px;
        }
      }
    }
  }
}