.footer {
    // position: fixed;
    background: #FE931D;
    padding: 20px 50px;
    width: 100%;
    // bottom: 0;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);

    .footer-section {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;

        .social-links {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            transition: .3s all;

            svg {
                font-size: 25px;
                transition: .3s all;
                cursor: pointer;

                &:hover {
                    color: white;
                }
            }
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            transition: .5s all;
            cursor: pointer;

            p {
                transition: .3s all;
            }

            p:hover {
                color: #fff5e4;
                transition: .5;
            }
        }
    }
}

@media (max-width: 1100px) {
    .footer {
        padding: 15px 20px;

        .footer-section {
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-size: 14px;
        }
    }
}