.admin-layout {
    .dashboard-head {
        font-size: 25px;
    }
    
    .btn-dark {
        height: 45px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 10px 15px;
        background: transparent;
        border: 2px solid #FE931D;
        color: #FE931D;
        transition: .3s;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;

        svg {
            font-size: 23px;
        }

        &:hover {
            background: #FE931D;
            color: white;
            transition: .3s;
            border: 2px solid #FE931D;
        }
    }

    button {
        font-family: "Montserrat", sans-serif;
    }
}

@media (max-width: 600px) {
    .admin-layout {
        .dashboard-head {
            font-size: 22px;
        }

        .btn-dark {
            padding: 8px 12px;
            gap: 5px;
            border: 1.5px solid #FE931D;
            font-size: 14px;

            svg {
                font-size: 20px;
            }

            &:hover {
                background: #FE931D;
                color: white;
            }
        }
    }
}