.restaurant-footer {
    background: white;
    padding: 30px 50px;
    width: 100% !important;
    margin-top: 50px;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);

    .footer-section {
        display: flex;
        flex-direction: row;
        gap: 50px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        white-space: nowrap;
        font-size: 14px;

        .social-links {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            transition: .3s all;

            svg {
                font-size: 25px;
                transition: .3s all;
                cursor: pointer;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            transition: .5;
            cursor: pointer;

            p:hover {
                color: #eb3424;
                transition: .5;
            }
        }
    }
}

@media (max-width: 1200px) {
    .restaurant-footer {
        box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);

        .footer-section {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

@media (max-width: 500px) {
    .restaurant-footer {
        display: none;
    }
}