.cart-details-page {
    z-index: 1005 !important;
    padding: 50px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;

    .cart {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .cart-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .main-heading {
        font-size: 25px;
    }

    .cart-details-div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        
        .lineItem-card {
            position: relative;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;

            .lineitem-details-div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 50px;

                .img-div {
                    height: 150px;
                    width: 150px;
                    border-radius: 5px;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 5px;
                    }
                }

                .lineitem-details {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .product-name-div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .product-name {
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .product-category {
                            font-size: 14px;
                            color: #6E7190;
                        }
                    }

                    .price-div {
                        display: flex;
                        flex-direction: row;
                        // justify-content: center;
                        align-items: flex-end;
                        gap: 10px;
                        font-size: 14px;

                        .product-price.strike {
                            text-decoration: line-through;
                            color: red;
                            font-size: 12px;
                        }
                    }
                }
            }

            .price-qty-div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .price-div {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 10px;
                    font-size: 16px;
                    font-weight: 600;

                    .product-price.strike {
                        text-decoration: line-through;
                        color: red;
                        font-size: 12px;
                        margin-bottom: 2px;
                    }
                }

                .qty-div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px 10px;
                    gap: 10px;
                    width: 150px;
                    background: var(--button-color);
                    color: white;
                    border: 2px solid var(--button-color);
                    border-radius: 10px;
                    transition: .5s;

                    svg {
                        cursor: pointer;
                    }

                    &:hover {
                        background: transparent;
                        color: var(--button-color);
                    }
                }
            }

            .remove-item {
                position: absolute;
                top: -4px;
                right: -4px;
                background: var(--button-color);
                border: 1px solid var(--button-color);
                color: white;
                border-radius: 50%;
                padding: 1px;
                cursor: pointer;
                transition: .3s;
            }

            .remove-item:hover {
                transform: scale(1.1);
                transition: .3s;
                background: white !important;
                color: var(--button-color);
                border: 1px solid var(--button-color);
            }
        }

        .cart-details.empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

            a {
                text-decoration: underline;
                color: var(--primary-color);
            }

            a:hover {
                text-decoration: underline;
                color: var(--button-color);
            }
        }
    }

    .total-order-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        padding-bottom: 50px;

        .total-amount-div {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-size: 18px;
            padding: 10px 20px;
            border-radius: 10px;
            border: 1px solid #6E7190;

            .title {
                font-weight: 600;
            }

            .amount {
                font-weight: 700;
                color: var(--primary-color);
            }
        }

        .order-btn {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 10px 20px;
            background-color: var(--button-color);
            border: 1px solid var(--button-color);
            color: white;
            border-radius: 10px;
            cursor: pointer;
            transition: .3s;
            font-weight: 600;
            
            &:hover {
                background-color: transparent;
                transition: .3s;
                color: var(--button-color);
            }
        }
    }

    .cart-details.empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #fff;
        padding: 30px;
        border-radius: 10px;
        gap: 20px;
        // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        img {
            width: 300px;
            height: auto;
        }

        p {
            font-size: 16px;
            color: #6E7190;

            a {
                text-decoration: underline;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; /* higher than cart-details-page */

    .custom-modal {
        background: #fff;
        padding: 30px;
        border-radius: 16px;
        max-width: 400px;
        width: 90%;
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.25);
        animation: fadeIn 0.3s ease-in-out;

        .select-table-number {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .head {
            font-size: 25px;
            margin-bottom: 20px;
        }

        .table-number-input-div {
            width: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            border: 2px solid #dcdcdc;
            padding: 8px 10px;
            border-radius: 30px;
            transition: .3s all;
            cursor: pointer;
            margin-left: auto;
            margin-right: auto;

            select {
                width: 100%;
                border: none;
                background: transparent;
                font-size: 16px;
                color: black;
                padding: 8px;
                cursor: pointer;
                outline: none;
                appearance: none; 
                -moz-appearance: none; 
                -webkit-appearance: none;
                // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                font-family: "Oswald", sans-serif;
            }

            svg {
                font-size: 30px;
            }

            input {
                all: unset;
                width: 100%;
            }

            &:hover {
                background: #dcdcdc;
            }
        }

        .custom-modal h1 {
            font-size: 22px;
            margin-bottom: 20px;
            text-align: center;
        }

        .btn-div {
            width: 300px;
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 700px) {
    .cart-details-page {
        .cart-details-div {
            .lineItem-card {
                .lineitem-details-div {
                    gap: 20px;

                    .img-div {
                        height: 100px;
                        width: 100px;
                        border-radius: 5px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .cart-details-page {
        padding: 50px 30px 0px 30px;
        
        .cart-details-div {
            margin-top: 30px;

            .lineItem-card {
                padding: 10px;

                .lineitem-details-div {
                    .lineitem-details {
                        gap: 10px;
                    }
                }

                .price-qty-div {
                    gap: 5px;

                    .price-div {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                    }

                    .qty-div {
                        justify-content: center;
                        padding: 5px 10px;
                        gap: 10px;
                        width: 80px;
                        background: transparent;
                        color: black;
                        border: none;

                        svg {
                            cursor: pointer;
                            border: 1px solid var(--button-color);
                            border-radius: 50%;
                            padding: 2px;
                            font-size: 15px;
                        }

                        .qty {
                            font-size: 14px;
                            font-weight: 600;
                            margin-top: -3px;
                        }

                        svg:hover {
                            background: transparent;
                            color: var(--button-color);
                        }

                        &:hover {
                            background: transparent;
                            color: black;
                        }
                    }
                }
            }
        }

        .total-order-div {
            padding-bottom: 30px;
        }
    }
}

@media (max-width: 450px) {
    .cart-details-page {
        .cart-details-div {
            .lineItem-card {
                padding: 10px;

                .lineitem-details-div {
                    .lineitem-details {
                        gap: 10px;

                        .product-name-div {
                            .product-name {
                                font-size: 15px;
                                font-weight: 600;
                            }
                            .product-category {
                                font-size: 12px;
                                color: #6E7190;
                            }
                        }

                        .price-div {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 3px;
                            font-size: 12px;

                            .product-price.strike {
                                font-size: 10px;
                            }
                        }
                    }
                }

                .price-qty-div {
                    .price-div {
                        font-size: 13px;
                    }
                }
            }
        }

        .cart-details.empty {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}