nav {
    position: fixed;
    background: #ff9494;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);

    .navbar {
        padding: 10px 50px;
        // background-color: #f4eac5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 200px;
        align-items: center;
        width: 100%;
        height: 80px;

        .logo-div {
            width: 150px !important;
            height: 70px;
            margin-left: -18px;
            img {
                margin-top: -2px;
                width: 150px;
                height: 100%;
                object-fit: cover;
            }
        }

        .search-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            background: #ffd1d1;
            padding: 12px 20px;
            border-radius: 5px;
            width: 100%;

            .search-icon {
                font-size: 23px;
            }

            input {
                all: unset;
                width: 100%;
            }

            &:hover {
                background: #ffe3e1;
            }
        }

        .login-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            // color: #fff5e4;
            color: #470531;
            font-size: 23px;
            // width: 100%;

            .account-div {
                display: flex;
                align-items: center;
                justify-content: center;
                // padding: 5px;
                gap: 10px;
                cursor: pointer;
                transition: .3s;

                .username {
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    width: 100% !important;
                    margin-top: 5px;
                }

                .login-icon {
                    font-size: 25px;
                    margin-top: 5px;
                }

                &:hover {
                    // color: #eb3424;
                    color: #fff5e4;
                    transition: .3s;
                }
            }
            
            .cart-icon {
                transition: .3s;
                margin-top: 5px;

                &:hover svg {
                    // color: #eb3424;
                    color: #fff5e4 !important;
                    cursor: pointer;
                    transition: .3s;
                }
            }
        }
    }

    .menu-hr {
        // margin-top: 70px;
        width: 100%;
        height: 1px;
        // color: black;
        // background: #c3bb9d;
        background: #fff5e4;
        border: none;
    }

    .category-menu {
        // margin-top: 70px;
        // background-color: #f4eac5;
        // color: #fff5e4;
        color: #470531;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 10px 50px;

        .category-tab {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: .3s;

            .category-name {
                font-size: 18px;
                font-weight: 400;
            }

            .category-icon {
                font-size: 18px;
                margin-top: 5px;
            }

            &:hover, &.active {
                color: #fff5e4;
                transition: .3s;
            }
        }
    }
}

.profile-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .profile-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .profile-image-div {
            width: 50px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        .profile-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // gap: 5px;

            .profile-name {
                font-size: 16px;
            }

            .profile-email {
                font-size: 14px;
            }
        }
    }

    .hr {
        height: 1px;
        width: 100%;
        background: #470531;
        // border: .5px solid #470531;
        border: none;
    }

    .dashboard-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        margin-right: auto;

        .dashboard-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img {
                width: 25px;
            }

            .dashboard-menu {
                font-size: 16px;
                font-weight: normal;
                transition: .5s;

                &:hover, &.active {
                    color: #470531;
                    font-weight: bold;
                    transition: .5s;
                }
            }
        }
    }

    .logout-div {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;

        .logout-link {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;
            padding: 5px 10px;
            border: 2px solid #470531;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            .icon {
                font-size: 20px;
            }

            &:hover {
                background: #470531;
                color: white;
                transition: .5s;
            }
        }
    }
}