.restaurant-layout {
     .childrens {
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 135px);
        width: 100%;
        height: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .childrens {
        flex: 1; // Pushes the footer to the bottom if content is small
    }

    .btn-dark {
        border-radius: 30px;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        align-items: center;
        border: 2px solid var(--button-color);
        color: var(--button-color);
        background: transparent;
        transition: .3s all;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;

        svg {
            font-size: 20px;
        }

        &:hover {
            background: var(--button-color);
            color: white;
        }
    }

    button {
        font-family: "Montserrat", sans-serif;
    }

    .common-padding {
        padding: 70px 50px 0px 50px
    }

    .main-heading {
        font-size: 28px;
        font-weight: 800;
        letter-spacing: .5px;
        color: var(--primary-color);
    }
}

.restaurant-loader-notfound-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .invalid-restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffeaea;
        padding: 20px;
        text-align: center;
        height: 100%;
        width: 100%;

        .notFound-img {
            width: 300px;
            height: auto;
            margin-bottom: 20px;
        }

        h2 {
            color: #333;
            margin-bottom: 10px;
        }
    }

    .restaurant-loading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;
        height: 100%;
        width: 100%;

        .loading-img {
            width: 300px;
            height: auto;
            margin-bottom: 20px;
        }

        h2 {
            color: #FE931D;
            margin-bottom: 10px;
        }

        .btn-dark-2 {
            margin-top: 20px;
        }
    }

    .btn-dark-2 {
        height: 45px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 10px 15px;
        border: 2px solid #FE931D !important;
        color: #FE931D;
        transition: .3s;
        font-size: 16px;
        cursor: pointer;
        text-align: center;

        svg {
            font-size: 23px;
        }

        &:hover {
            background: #FE931D !important;
            color: white;
            transition: .3s;
            border: 2px solid #FE931D !important;
        }
    }
}

/* Default toast styles */
.custom-toast {
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    border-radius: 8px;
}

/* Toast body styles */
.custom-toast-body {
    font-size: 14px;
}

/* Mobile-specific styles */
@media screen and (max-width: 1200px) {
    .restaurant-layout .childrens {
        min-height: calc(100vh - 210px);
    }
}

@media (max-width: 768px) {
    .restaurant-layout {
        .main-heading {
            font-size: 25px;
        }
    }
}

@media (max-width: 600px) {
    .restaurant-layout {
        .common-padding {
            padding: 50px 30px 0px 30px;
        }
    }
}

@media (max-width: 500px) {
    .restaurant-layout {
        .common-padding {
            padding: 50px 20px 0px 20px;
        }

        .main-heading {
            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0px;
        }

        .btn-dark {
            padding: 8px 12px;
            gap: 10px;
            border: 1.5px solid var(--button-color);
            font-size: 14px;

            svg {
                font-size: 18px;
            }

            &:hover {
                background: var(--button-color);
                color: white;
            }
        }
    }

    .restaurant-loader-notfound-div {
        .invalid-restaurant {
            .notFound-img {
                width: 200px;
                height: auto;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .custom-toast {
        font-size: 14px;
        margin-top: 20px;
        margin-right: 20px;
        padding: 10px;
        width: 80% !important;
        // margin: 0 auto;
        border-radius: 6px;
    }

    .custom-toast-body {
        font-size: 12px;
        text-align: center;
    }
}