.product-details-section {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

    .img-div {
        width: 50%;
        height: 100%;

        #main-slider {
            border-radius: 10px;
            overflow: hidden;

            img {
                width: 100%;
                height: 800px;
                object-fit: cover;
            }
        }

        #thumbnail-slider {
            margin-top: 1rem;

            .splide__slide {
                cursor: pointer;
                opacity: 0.7;
                transition: opacity 0.3s;

                &.is-active {
                    opacity: 1;
                    border: 2px solid #470531;
                }

                img {
                    border-radius: 6px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .product-details-div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        .product-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 10px;
        }

        .product-name {
            font-size: 30px;
        }

        .rating-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .rating-value {
                font-size: 15px;
            }

            .rating {
                margin-top: -3px;
                display: inline-block;

                .star {
                    color: #470531;
                    font-size: 15px;
                }
            }
        }

        .price-div {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 10px;
            font-size: 20px;

            .product-price.strike {
                text-decoration: line-through;
                color: #eb3424;
                font-size: 16px;
                margin-bottom: 2px;
            }

            .sale-offer {
                margin-bottom: 3px;
                background: #470531;
                padding: 2px 10px;
                color: white;
                font-size: 10px;
                text-transform: uppercase;
                border-radius: 5px;
            }
        }

        .stock-available-div {
            .stock-available {
                display: flex;
                justify-content: center;
                align-items: center;
                color: green;
                gap: 5px;
            }

            .no-stock {
                display: flex;
                justify-content: center;
                align-items: center;
                color: red;
                gap: 5px;
            }

            span {
                margin-bottom: 3px;
            }
        }

        .add-to-cart-div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;

            .qty-div {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 5px 10px;
                gap: 10px;
                width: 150px;
                background: #470531;
                color: white;
                border: 2px solid #470531;
                border-radius: 10px;
                transition: .5s;

                svg {
                    cursor: pointer;
                }

                &:hover {
                    background: transparent;
                    color: #470531;
                }
            }

            .add-to-cart {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                width: 100%;
                border: 2px solid #470531;
                padding: 5px 10px;
                border-radius: 10px;
                transition: .5s;
                cursor: pointer;

                &:hover {
                    background: #470531;
                    color: white;
                    transition: .5s;
                }
            }
        }

        .hr {
            width: 100%;
            background: #470531;
            height: .5px;
            border: none;
        }

        .promo-card {
            display: flex;
            background: #f9f9f9;
            border-radius: 12px;
            overflow: hidden;
            // padding: 30px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            height: 200px;
            width: 100%;
            position: relative;

            .promo-bg {
                width: 100%;
                height: 100%; /* Adjusts video height to the viewport */
                object-fit: cover;
                background-position: center;
                background-size: cover;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
                pointer-events: none;
                z-index: 1;
            }

            .promo-content {
                flex: 1;
                position: absolute;
                color: white;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                text-align: left;
                gap: 10px;
                z-index: 2;
                padding: 30px;

                .promo-tag {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background: #470531;
                    color: #fff;
                    font-size: 10px;
                    padding: 4px 10px;
                    border-radius: 6px;
                    font-weight: 600;
                    width: 100px;
                }

                .promo-title {
                    font-size: 20px;
                    font-weight: 700;
                }

                .promo-subtitle {
                    font-size: 14px;
                    color: white;
                    margin-top: -10px;
                }

                .promo-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px 10px;
                    border: none;
                    background: transparent;
                    color: white;
                    border: 2px solid white;
                    // font-weight: 600;
                    border-radius: 8px;
                    cursor: pointer;
                    gap: 8px;
                    font-size: 14px;
                    transition: all 0.3s ease;
                    width: 120px;

                    svg {
                        transition: transform 0.3s;
                        font-size: 15px;
                        margin-top: 3px;
                    }

                    &:hover {
                        background: white;
                        color: black;
                        border: 2px solid white;

                    svg {
                        transform: translateX(3px);
                    }
                    }
                }
            }

            .promo-image {
                flex: 1;

            img {
                width: 100%;
                height: auto;
                border-radius: 10px;
                object-fit: cover;
            }
            }
        }
    }
}

@media (max-width: 768px) {
    .product-details-section {
        margin-top: 80px;
        flex-direction: column;

        .img-div {
            width: 100%;
        }

        .product-details-div {
            width: 100%;
            // flex-direction: row;
        }
    }
    
}

@media (max-width: 600px) {
    .product-details-section {
        .product-details-div {
            .product-name {
                font-size: 25px;
            }

            .product-category {
                font-size: 18px;
            }

            .rating-div {
                .rating-value {
                    font-size: 14px;
                }

                .rating {
                    .star {
                        font-size: 12px;
                    }
                }
            }

            .price-div {
                font-size: 16px;

                .product-price.strike {
                    font-size: 12px;
                    margin-bottom: 1px;
                }

                .sale-offer {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .product-details-section {
        margin-top: 120px;
    }
}